## Data Types

Numeric Data Types:

In [ ]:
# integer
my_int = 10
print(type(my_int))  # Output: <class 'int'>

# floating-point number
my_float = 3.14
print(type(my_float))  # Output: <class 'float'>

# complex number
my_complex = 2 + 3j
print(type(my_complex))  # Output: <class 'complex'>

<class 'int'>
<class 'float'>
<class 'complex'>

Sequence Data Types:

In [ ]:
# string
my_string = "Hello, World!"
print(type(my_string))  # Output: <class 'str'>

# list This is a collection of items that are ordered and changeable.
my_list = [1, 2, "three", True]
print(type(my_list))  # Output: <class 'list'>

# tuple This is a collection of items that are ordered and unchangeable.
my_tuple = (1, 2, "three", True)
print(type(my_tuple))  # Output: <class 'tuple'>

# range The range function is used to create a sequence of numbers, and it returns a range object. 
my_range = range(5)
print(type(my_range))  # Output: <class 'range'>

<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'range'>

Mapping Data Type:

In [ ]:
# dictionary: This is a collection of key-value pairs that are unordered and changeable.
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(type(my_dict))  # Output: <class 'dict'>

<class 'dict'>

Set Data Type:

In [ ]:
# set: This is a collection of unique items that are unordered and unindexed.
my_set = {1, 2, "three", True}
print(type(my_set))  # Output: <class 'set'>


# frozenset The frozenset function is used to create an immutable set, and it returns a frozenset object.
my_frozenset = frozenset({1, 2, 3})
print(type(my_frozenset))  # Output: <class 'frozenset'>

<class 'set'>
<class 'frozenset'>

Boolean Data Type:

In [ ]:
# boolean: This is a data type that represents True or False values.
my_bool = True
print(type(my_bool))  # Output: <class 'bool'>

<class 'bool'>